* {
    margin: 0;
    padding: 0;
  }

.container {
  background-color: blue;
  padding-top: 30px;
  margin: 0 auto;
}

a.nav:hover {
  background-color: rgba(189, 45, 33, 1);
  color: white;
  text-decoration: none;
}

a.nav {
  padding: 10px;
  border-radius: 10px
}

ul p {
  font-size: 10;
  clear: none;
}

img {
  float: right;
  opacity: 0.9;
}

.inactive {
  color: black;
  text-decoration: none;
}

.active {
  color: white;
  text-decoration: none;
}


.nav {
  align-items: 'center';
  background-color: #D3D3D3;
  list-style-type: none;
  color: gray;
  text-align: center; 
  padding: 5;
  margin: 5;
  font-size: 18px
}

.nav li {
  display: inline-block;
  font-size: 15px;
  color: white;
  border: none
}

.card {
  border-style: solid 1px black;
  background-color: #FFFAFA;
  border-color: #6c757d; 
  margin: 10px;
  padding: 10px;
  border-radius: 20px !important; 
  box-shadow: 10px 10px 8px #cecdcd;
  height: 100%
}

p {
  color: #505050
}

.footer {
  background-color: rgba(189, 45, 33, 1);
  position:bottom;
  left:0;
  bottom:0;
  right:0;
}

